/* Project: XK-Z0-XD.github.io
Date: Dec 9, 2024
Filename: main.scss
Author: XK-Z0-XD
Encoding: UTF-8
*/
@import "vars.scss";
@import "svg.scss";
@import "index.scss";
@import "containers.scss";
@import "controls.scss";
@import "animations.scss";
@import url("gui.css");

