/* Project: em9836.github.io
Date: Dec 3, 2024
Filename: lib.scss
Author: em9836
Encoding: UTF-8
*/
@import url("vars.css");
/* Project: em9836.github.io
Date: Dec 7, 2024
Filename: containers.scss
Author: em9836
Encoding: UTF-8
*/
/*
    Created on : Dec 7, 2024, 12:26:44 AM

*/
.terminal blockquote {
  border: 2px dashed var(--fg);
  padding: 10px;
  width: fit-content;
}
.terminal section {
  width: 100%;
  height: 450px;
  overflow-y: auto;
  padding-left: 10px;
}
