/* Error: There is no module with the namespace "lib".
 *    ,
 * 17 |         @include lib.full;
 *    |         ^^^^^^^^^^^^^^^^^
 *    '
 *   style\scss\containers.scss 17:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "lib".\a    \2577 \a 17 \2502          @include lib.full;\a    \2502          ^^^^^^^^^^^^^^^^^\a    \2575 \a   style\\scss\\containers.scss 17:9  root stylesheet';
}
