/* Project: XK-Z0-XD.github.io
Date: Dec 8, 2024
Filename: gui.scss
Author: XK-Z0-XD
Encoding: UTF-8
*/
@import url("main.css");
.terminal .window {
  background-image: url("https://scp-wiki.wdfiles.com/local--files/the-great-hippo/scp_trans.png");
  float: center;
}
