@import url("vars.css");
@import url("animations.css");
@import url("controls.css");
@import url("containers.css");
@import url("gui.css");
html {
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

*[data-toggle=on] {
  display: block;
}

*[data-toggle=off] {
  display: none;
}

.terminal {
  font-family: "Courier New", "Lucinda Console", monospace;
  background-color: var(--bg) !important;
  color: var(--fg) !important;
  padding: 0.25em !important;
  margin: 0 auto;
  text-wrap: stable;
  /*width: 100%;*/
}
.terminal *::selection {
  background-color: var(--fg) !important;
  color: var(--bg) !important;
}
.terminal #glitch {
  animation: shadow 3s linear infinite, box-shadow 3s infinite;
}
.terminal #screen {
  width: 100%;
  height: 100%;
  background-color: var(--bg) !important;
  color: var(--fg) !important;
  overflow-y: hidden;
  animation: shadow 3s infinite; /* flicker 0.01s linear infinite;*/
  padding: 5%;
}
.terminal #screen::before {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  background-image: radial-gradient(transparent 10%, rgba(0, 0, 0, 0.5) 90%);
  opacity: 0.75;
}
.terminal #screen::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: block;
  pointer-events: none;
  background-image: var(--noise);
  opacity: 0.375;
  animation: noise 3s steps(5, end) infinite;
}
.terminal #crt {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px;
  background-image: var(--grad);
}
.terminal #crt::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
  background-repeat: repeat-y;
  background-size: 100% 7px;
  z-index: 3;
  pointer-events: none;
}
.terminal #scanline {
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 1;
  overflow: hidden;
}
.terminal #scanline::after {
  content: "";
  width: 100%;
  height: 35px;
  bottom: 50%;
  background-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.15) 50%, transparent 50%);
  animation: scan 3s linear infinite;
  background-size: 100%;
  animation-fill-mode: forwards;
  position: absolute;
  z-index: 3;
}
.terminal #content *:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Courier Prime", "Courier New", "Lucinda Console", monospace;
  /*margin-bottom: 10px;*/
  width: 100%;
  font-size: inherit;
  font-weight: bold;
  color: var(--fg);
  text-transform: uppercase;
  text-align: center;
  /*text-decoration: underline;*/
}
.terminal #content *:is(h1, h2, h3, h4, h5, h6)::before {
  content: "[ ";
}
.terminal #content *:is(h1, h2, h3, h4, h5, h6)::after {
  content: " ]";
}
.terminal #content hr {
  border: 1px dashed var(--border-color);
  margin: 5px 0;
}
.terminal #content p {
  /*font-family: Rainbow100, var(--text-font);*/
}
