/* Project: XK-Z0-XD.github.io
Date: Dec 8, 2024
Filename: svgStyle.scss
Author: XK-Z0-XD
Encoding: UTF-8
*/
/*
    Created on : Dec 8, 2024, 7:43:15 PM
    Author     : eVmPr
*/
/*@use "sass:color";*/
/*@use 'lib';*/
@import url("vars.css");
.default * {
  /*@include lib.middle($theme: default);*/
  --mid: rgb(128, 128, 128);
}

.green * {
  --mid: rgb(54, 150, 65);
}

.blue * {
  --mid: rgb(116, 116, 243);
}

.red * {
  --mid: rgb(123, 10, 6);
}

#logo #inner {
  fill: none;
  color: var(--mid);
  stroke: var(--mid);
  stroke-width: 6px;
}
#logo #outer {
  fill: "none";
  color: var(--mid);
  stroke: var(--mid);
  stroke-width: 4;
}
#logo .arrow {
  color: var(--mid);
  fill: var(--mid);
  stroke: var(--mid);
}

/*svg{
    .inner-circle{
        fill: none;
        stroke: var(--mid);
    }
    .shell{
        fill: none;
        stroke: var(--mid);
    }
    .arrow{
        fill: var(--mid);
        stroke: var(--mid);
    }
}*/
