/* Project: em9836.github.io
Date: Dec 3, 2024
Filename: lib.scss
Author: em9836
Encoding: UTF-8
*/
@import url("vars.css");
$foreground: var(--fg);
$background: var(--bg);

@mixin full {
    width: 100%;
    height: 100%;
}
@mixin color{
    background-color: var(--bg);
    color: var(--fg);
}
@mixin color($bg: $background,$fg: $foreground){
    background-color: $bg !important;
    color: $fg !important;
}
@mixin border($color: var(--fg),$width: 1px, $style: solid, $radius: 0){
    border-color: $color;
    border-style: $style;
    border-width: $width;
    border-radius: $radius;
}
@mixin font($family:"cnr", $size){
    @if $family{
        @if $family == "cprime"{
            font-family: "Courier Prime", "Courier New", "Lucinda Console", monospace;
        } @else if $family == "ocra"{
            font-family: "OCR-A","Lucinda Console","Courier New",monospace;
        }@else if $family == "vt323"{
            font-family: "VT323","Lucinda Console","Courier New",monospace;
        }@else if $family == "cnr"{
            font-family: "Code New Roman","Lucinda Console","Courier New",monospace;
        }@else if $family == "bitwise"{
            font-family: "Bitwise","Lucinda Console","Courier New",monospace;
        }@else if $family == "rnb"{
            font-family: "MxPlus Rainbow100 re.80","Lucinda Console","Courier New",monospace;
        }@else{
            font-family: "Courier New","Lucinda Console",monospace;
        }
    }
    @if $size{
        font-size: $size;
    }
}
@mixin font($family:"cn"){
    @if $family == "cprime"{
        font-family: "Courier Prime", "Courier New", "Lucinda Console", monospace;
    } @else if $family == "ocra"{
        font-family: "OCR-A","Lucinda Console","Courier New",monospace;
    }@else if $family == "vt323"{
        font-family: "VT323","Lucinda Console","Courier New",monospace;
    }@else if $family == "cnr"{
        font-family: "Code New Roman","Lucinda Console","Courier New",monospace;
    }@else if $family == "bitwise"{
        font-family: "Bitwise","Lucinda Console","Courier New",monospace;
    }@else if $family == "rnb"{
        font-family: "MxPlus Rainbow100 re.80","Lucinda Console","Courier New",monospace;
    }@else{
        font-family: "Courier New","Lucinda Console",monospace;
    }
}
@mixin screen{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
@function static(){

}

