@import "lib.scss";

.terminal {
  #main {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include full;
    &::before {
      @include screen;
      stroke: var(--fg);
      padding: 5%;
      overflow-y: hidden;
    }
  }
   a {
    color: var(--fg);
    &:hover {
      cursor: pointer;
      @include color($bg: var(--fg), $fg: var(--bg));
      border: 2px solid var(--fg);
    }
    &:after {
      content: " [→]";
    }

    &:active {
      color: var(--bg);
      background-color: var(--fg);
    }

    &:visited:before {
      content: "[V] ";
    }
    &:inactive {
      text-decoration: line-through;
    }
  }
  // h1 {
  //   font-size: 20px;
  // }
  *:is(h1, h2, h3, h4, h5, h6) {
    @include font($family: phoenix-vga);
    /*margin-bottom: 10px;*/
    width: 100%;
    /*font-size: inherit;*/
    font-weight: bold;
    color: var(--fg);
    text-transform: uppercase;
    text-align: center;
    /*text-decoration: underline;*/
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
  *:is(code, pre) {
    @include font($family: rainbow);
    font-size: 16px;
  }
  hr {
    border: 1px dashed var(--border-color);
    margin: 5px 0;
  }
  p {
    @include font(codenr);
  }

  pre {
    text-align: left;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: cborder(1px, dashed);
  }
  details {
    > summary {
      background-color: $foreground;
      color: var(--bg);
      font-size: 18px;
      @include font($family: codenr);
      font-weight: bold;
      &::marker {
        content: "+ ";
      }
    }
    &[open] {
      > summary {
        &::marker {
          content: "- ";
        }
      }
    }
  }
}
#logo {
  #inner {
    fill: none;
    color: var(--mid);
    stroke: var(--mid);
    stroke-width: 6px;
  }

  #outer {
    fill: "none";
    color: var(--mid);
    stroke: var(--mid);
    stroke-width: 4;
  }
  .arrow {
    color: var(--mid);
    fill: var(--mid);
    stroke: var(--mid);
  }
}
